* background-color: #800A7A;; *
* {
-webkit-animation-direction: alternate;
-webkit-animation-direction: alternate;
-webkit-animation-duration: 0.5s;
-webkit-animation-duration: 1s;
-webkit-animation-iteration-count: inherit;
-webkit-animation-iteration-count: inherit;
-webkit-animation-name: list;
-webkit-animation-name: ulList;
-webkit-backdrop-filter: blur(27.1828px);
-webkit-backdrop-filter: blur(27.1828px);
-webkit-backdrop-filter: blur(8.15485px);
.account p {
.account {
.account {
.all {
.big__title {
.big__title {
.big__title {
.big__title {
.box__btn {
.box__img .img {
.button a {
.button {
.card .sum .radio {
.cart {
.cart {
.cart-item {
.cart-item:before {
.cart.shake {
.cart:before {
.cart:before {
.col-1 {
.col-10 {
.col-11 {
.col-12 {
.col-2 {
.col-3 {
.col-4 {
.col-5 {
.col-6 .item .box .cost__btn {
.col-6 .item .box {
.col-6 .item .box {
.col-6 .item .box__btn {
.col-6 .item .box__cost {
.col-6 .item .box__img .img {
.col-6 .item .box__img .img__hot {
.col-6 .item .box__img {
.col-6 .item .box__text {
.col-6 .item .box__title img {
.col-6 .item .box__title {
.col-6 .item {
.col-6 {
.col-6 {
.col-6.col-md-12.col-xs-12 .item .box__btn {
.col-6.col-md-12.col-xs-12 .item .box__cost {
.col-6.col-md-12.col-xs-12 .item .box__img .img {
.col-6.col-md-12.col-xs-12 .item .box__img .img__hot {
.col-6.col-md-12.col-xs-12 .item .box__text {
.col-6.col-md-12.col-xs-12 .item .box__text {
.col-6.col-md-12.col-xs-12 .item .box__title {
.col-6.col-md-12.col-xs-12 .item {
.col-6.col-md-12.col-xs-12 .item {
.col-7 {
.col-8 {
.col-9 {
.col-md-1 {
.col-md-10 {
.col-md-11 {
.col-md-12 {
.col-md-2 {
.col-md-3 {
.col-md-4 {
.col-md-5 {
.col-md-6 {
.col-md-7 {
.col-md-8 {
.col-md-9 {
.col-xs-1 {
.col-xs-10 {
.col-xs-11 {
.col-xs-12 {
.col-xs-2 {
.col-xs-3 {
.col-xs-4 {
.col-xs-5 {
.col-xs-6 {
.col-xs-7 {
.col-xs-8 {
.col-xs-9 {
.container {
.content .container {
.content .filter button svg {
.content .filter button {
.content .filter button {
.content .filter button {
.content .filter button {
.content .filter button.active {
.content .filter button.filt {
.content .filter button.filt {
.content .filter button.filt:hover {
.content .filter button:hover {
.content .filter {
.content .filter {
.content .mob__button .mobFilt {
.content .mob__button button.mobFilt svg {
.content .mob__button button.mobFilt {
.content .mob__button button.mobFilt:hover {
.content .mob__button {
.content .row {
.copyright .container .net__icon a {
.copyright .container .net__icon {
.copyright .container {
.copyright .container {
.copyright .net__icon a {
.copyright .net__icon {
.copyright {
.copyright {
.copyright {
.div .text {
.div p {
.fixed--icon svg {
.fixed--icon {
.footer .container {
.footer {
.footer {
.footer {
.footer {
.footer__menu .adress {
.footer__menu .contacts .title {
.footer__menu .list {
.footer__menu .tel {
.footer__menu .tel {
.footer__menu .title {
.footer__menu .title {
.footer__menu .ul__menu {
.footer__menu .ul__menu {
.footer__menu {
.footer__menu {
.header .container .menu {
.header .container .menu {
.header .container .menu {
.header .container .menu__ul .phone {
.header .container .menu__ul .phone {
.header .container .menu__ul .phone--icon {
.header .container .menu__ul .phone--shop {
.header .container .menu__ul .phone--shop::before {
.header .container .menu__ul .phone--shop::before {
.header .container .menu__ul .phone--text a span {
.header .container .menu__ul .phone--text a {
.header .container .menu__ul .shop {
.header .container .menu__ul .shop {
.header .container .menu__ul .shop--icon {
.header .container .menu__ul .shop--text a span {
.header .container .menu__ul .shop--text a {
.header .container .menu__ul ul li {
.header .container .menu__ul ul li {
.header .container .menu__ul ul {
.header .container .menu__ul {
.header .container {
.header .container {
.header .item {
.header {
.header {
.header__card .col-3 .item.kombo .box__img img {
.header__card .col-3 .item.kombo .box__text span {
.header__card .col-3 .item.kombo .box__text {
.header__card .col-3 .item.kombo .raiting svg {
.header__card .col-3 .item.kombo .raiting {
.header__card .col-3 .item.kombo {
.header__card .col-3 .item.pitsa .box__img img {
.header__card .col-3 .item.pitsa .box__text span {
.header__card .col-3 .item.pitsa .box__text {
.header__card .col-3 .item.pitsa .raiting svg {
.header__card .col-3 .item.pitsa .raiting {
.header__card .col-3 .item.pitsa {
.header__card .row {
.header__card .row {
.header__card {
.header__content {
.header__content {
.header__content {
.header__content--img img {
.header__content--img img {
.header__content--img img {
.header__content--img {
.header__content--img {
.header__content--img {
.header__content--text {
.header__content--text {
.header__content--title {
.header__content--title {
.input {
.input::placeholder {
.mobMenu .main__menu ul a {
.mobMenu .main__menu ul li {
.mobMenu .main__menu ul svg path {
.mobMenu .main__menu {
.mobMenu .main__menu.show {
.mobMenu .menu {
.mobMenu button span {
.mobMenu button span.show {
.mobMenu button span.show::after,
.mobMenu button span.show::before {
.mobMenu button span.show::before {
.mobMenu button span::after {
.mobMenu button span::after,
.mobMenu button span::before {
.mobMenu button {
.mobMenu button.show {
.mobMenu {
.mobMenu {
.mobMenu {
.mobMenu__content {
.mobMenu__content--decs {
.mobMenu__content--img img {
.mobMenu__content--img img {
.mobMenu__content--img {
.mobMenu__content--text {
.mobMenu__content--title {
.mobMenu__content::before {
.mob__footer .logo {
.mob__footer .mob__menu .contacts .adress {
.mob__footer .mob__menu .contacts .tel {
.mob__footer .mob__menu .contacts {
.mob__footer .mob__menu .ul__menu .list {
.mob__footer .mob__menu .ul__menu ul.ulList li {
.mob__footer .mob__menu .ul__menu ul.ulList {
.mob__footer .mob__menu .ul__menu {
.mob__footer .mob__menu .ul__menu,
.mob__footer .mob__menu {
.mob__footer .mob__menu--btn {
.mob__footer .mob__menu--btn {
.mob__footer .ul__menu ul {
.mob__footer {
.mob__footer,
.mob__menu {
.mob__pattern .big__title {
.mob__pattern .path {
.mob__pattern .phone {
.mob__pattern .phone {
.mob__pattern .social button {
.mob__pattern .social button,
.mob__pattern .social {
.mob__pattern {
.mob__pattern {
.mob__pattern {
.mob__pattern {
.mob__pattern--content .social button svg {
.mob__pattern--content .social button {
.mob__pattern--content {
.mob__pattern--img .phone {
.modal .buttons button {
.modal .buttons {
.modal .close span {
.modal .close span::after {
.modal .close {
.modal .row .col-12 {
.modal .row .item .box img {
.modal .row .item .box {
.modal .row .item .box {
.modal .row .item .box__content {
.modal .row .item .box__content {
.modal .row .item .box__cost {
.modal .row .item .box__cost {
.modal .row .item .box__img img {
.modal .row .item .box__text {
.modal .row .item .box__text {
.modal .row .item .box__title {
.modal .row .item .box__title {
.modal .row .item .box__title,
.modal .row .item .box_cost {
.modal .row .item {
.modal .row .item {
.modal .row.clear {
.modal .title {
.modal .title {
.modal .total .cost {
.modal .total .cost {
.modal .total {
.modal {
.modal {
.modal.modalShow {
.path {
.pattern .big__title {
.pattern .path {
.pattern .path {
.pattern .phone {
.pattern .phone {
.pattern .phone {
.pattern .social button svg {
.pattern .social button {
.pattern button {
.pattern {
.pattern {
.pattern {
.pattern,
.pattern__content .social button {
.pattern__content .social {
.pattern__content {
.row {
.sendtocart .box__btn {
.sendtocart .box__btn:before {
.slide .row {
.slide .row {
.slide .row.open {
.slide__btn button {
.slide__btn {
.slide__btn {
.sum h2 {
.sum h4 {
.sum {
.sum {
0% {
0% {
0% {
0% {
100% {
100% {
100% {
100% {
100% {
100% {
100% {
25% {
50% {
50% {
50% {
50% {
50% {
75% {
@-webkit-keyframes list {
@-webkit-keyframes ulList {
@font-face {
@font-face {
@font-face {
@font-face {
@font-face {
@keyframes list {
@keyframes shakeCart {
@keyframes ulList {
@keyframes xAxis {
@keyframes yAxis {
@media (max-width: 1025px) {
@media (max-width: 321px) {
@media (max-width: 426px) {
@media (max-width: 600px) {
@media (max-width: 767px) {
@media (max-width: 768px) {
@media (max-width: 769px) {
@media only screen and (max-width: 760px) {
a {
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: center;
align-items: flex-end;
animation-direction: alternate;
animation-direction: alternate;
animation-duration: 0.5s;
animation-duration: 1s;
animation-iteration-count: inherit;
animation-iteration-count: inherit;
animation-name: list;
animation-name: ulList;
animation: shakeCart 0.4s ease-in-out forwards;
animation: xAxis 1s forwards cubic-bezier(1, 0.44, 0.84, 0.165);
animation: xAxis 1s forwards cubic-bezier(1, 0.44, 0.84, 0.165);
animation: yAxis 1s alternate forwards cubic-bezier(0.165, 0.84, 0.44, 1);
animation: yAxis 1s alternate forwards cubic-bezier(0.165, 0.84, 0.44, 1);
backdrop-filter: blur(27.1828px);
backdrop-filter: blur(27.1828px);
backdrop-filter: blur(8.15485px);
background-color: #99081f;
background-color: azure;
background-position: 90%;
background-repeat: no-repeat;
background: #282863;
background: #282863;
background: #292d48;
background: #2bd156;
background: #2bd156;
background: #2bd156;
background: #800A21;
background: #800A31;
background: #800A7A;
background: #800A7A;
background: #800A7A;
background: #800A7A;
background: #800A7A;
background: #800A7A;
background: #800A7A;
background: #F1B301;
background: #F1B301;
background: #F1B301;
background: #F1B301;
background: #F1B301;
background: #F1B301;
background: #F1B301;
background: #F1B301;
background: #F1F1F1;
background: #F1F1F1;
background: #F1F1F1;
background: #F5F5F5;
background: #FFFFFF;
background: #d5d8e7;
background: linear-gradient(315.49deg, #FFC85C 1.32%, #F1B301 96.68%);
background: rgba(255, 255, 255, 0.203344);
background: rgba(255, 255, 255, 0.203344);
background: rgba(255, 255, 255, 0.249235);
background: unset;
background: unset;
background: unset;
background: unset;
background: unset;
background: unset;
background: unset;
body {
body,
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
border-left: 1px solid #FFFFFF;
border-radius: 0;
border-radius: 10px;
border-radius: 12px;
border-radius: 12px;
border-radius: 12px;
border-radius: 12px;
border-radius: 15px;
border-radius: 15px;
border-radius: 15px;
border-radius: 19px;
border-radius: 19px;
border-radius: 20px;
border-radius: 20px;
border-radius: 24px;
border-radius: 24px;
border-radius: 25px;
border-radius: 27px;
border-radius: 27px;
border-radius: 27px;
border-radius: 27px;
border-radius: 27px;
border-radius: 27px;
border-radius: 46px;
border-radius: 46px;
border-radius: 50%;
border-radius: 50%;
border-radius: 50px;
border-radius: 5px;
border-radius: 5px;
border-top: 1px solid #17C91A;
border-top: 1px solid #979797;
border-top: 1px solid #F1B301;
border: 0;
border: 0;
border: 0;
border: 1px solid black;
border: 1px solid black;
border: 1px solid black;
border: 1px solid rgba(151, 151, 151, 0.181927);
border: 1px solid rgba(151, 151, 151, 0.181927);
border: 1px solid rgba(255, 255, 255, 0.292941);
border: 1px solid rgba(255, 255, 255, 0.292941);
border: none;
border: unset;
bottom: 0;
bottom: 0;
bottom: 0;
bottom: 20px;
box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.22);
box-shadow: 0px 3px 4px rgba(222, 222, 222, 0.370684);
box-shadow: 0px 3px 4px rgba(222, 222, 222, 0.370684);
box-shadow: 0px 7px 40px rgba(238, 39, 68, 0.355086);
box-sizing: border-box;
box-sizing: border-box;
box-sizing: border-box;
box-sizing: border-box;
box-sizing: border-box;
box-sizing: border-box;
button {
button.sendtocart .cart-item {
button.sendtocart .cart-item:before {
button:focus {
color: #000;
color: #003846;
color: #222124;
color: #222124;
color: #222124;
color: #222124;
color: #222124;
color: #222124;
color: #222124;
color: #222124;
color: #222124;
color: #222124;
color: #222124;
color: #222124;
color: #222124;
color: #222124;
color: #222124;
color: #292d48;
color: #E76A06;
color: #F1B301;
color: #F1B301;
color: #FC96F7;
color: #FFFFFF;
color: #FFFFFF;
color: #FFFFFF;
color: #FFFFFF;
color: #FFFFFF;
color: #FFFFFF;
color: #FFFFFF;
color: #FFFFFF;
color: #FFFFFF;
color: #FFFFFF;
color: #FFFFFF;
color: #fff;
color: #fff;
color: white;
color: white;
color: white;
content: "1";
content: '';
content: '';
content: '';
content: '';
content: attr(data-totalitems);
content: attr(data-totalitems);
cursor: pointer;
display: block;
display: block;
display: block;
display: block;
display: block;
display: block;
display: block;
display: block;
display: block;
display: block;
display: block;
display: block;
display: block;
display: block;
display: block;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: flex;
display: inline-block;
display: inline-block;
display: inline-block;
display: inline-block;
display: none;
display: none;
display: none;
display: none;
display: none;
display: none;
display: none;
display: none;
display: none;
display: none;
display: none;
display: none;
display: none;
display: unset;
fill: #F1B301;
filter: drop-shadow(-9px -2px 10px rgba(168, 126, 6, 0.253879));
filter: drop-shadow(-9px -2px 10px rgba(168, 126, 6, 0.253879));
filter: drop-shadow(10px 70px 80px rgba(114, 10, 109, 0.2));
flex-basis: 100%;
flex-basis: 100%;
flex-basis: 100%;
flex-basis: 16.66667%;
flex-basis: 16.66667%;
flex-basis: 16.66667%;
flex-basis: 25%;
flex-basis: 25%;
flex-basis: 25%;
flex-basis: 33.33333%;
flex-basis: 33.33333%;
flex-basis: 33.33333%;
flex-basis: 41.66667%;
flex-basis: 41.66667%;
flex-basis: 41.66667%;
flex-basis: 50%;
flex-basis: 50%;
flex-basis: 50%;
flex-basis: 58.33333%;
flex-basis: 58.33333%;
flex-basis: 58.33333%;
flex-basis: 66.66667%;
flex-basis: 66.66667%;
flex-basis: 66.66667%;
flex-basis: 75%;
flex-basis: 75%;
flex-basis: 75%;
flex-basis: 8.33333%;
flex-basis: 8.33333%;
flex-basis: 8.33333%;
flex-basis: 83.33333%;
flex-basis: 83.33333%;
flex-basis: 83.33333%;
flex-basis: 91.66667%;
flex-basis: 91.66667%;
flex-basis: 91.66667%;
flex-direction: column-reverse;
flex-direction: column;
flex-direction: column;
flex-direction: column;
flex-direction: column;
flex-direction: column;
flex-direction: column;
flex-direction: column;
flex-direction: column;
flex-wrap: nowrap;
flex-wrap: wrap;
flex-wrap: wrap;
flex-wrap: wrap;
flex-wrap: wrap;
flex-wrap: wrap;
flex-wrap: wrap;
font-family: 'inter-b';
font-family: 'inter-b';
font-family: 'inter-b';
font-family: 'inter-b';
font-family: 'inter-b';
font-family: 'inter-b';
font-family: 'inter-b';
font-family: 'inter-b';
font-family: 'inter-b';
font-family: 'inter-b';
font-family: 'inter-b';
font-family: 'inter-black';
font-family: 'inter-black';
font-family: 'inter-m';
font-family: 'inter-m';
font-family: 'inter-m';
font-family: 'inter-m';
font-family: 'inter-r';
font-family: 'inter-r';
font-family: 'inter-r';
font-family: 'inter-r';
font-family: 'inter-sb';
font-family: 'inter-sb';
font-family: 'inter-sb';
font-size: 12px;
font-size: 12px;
font-size: 12px;
font-size: 12px;
font-size: 12px;
font-size: 12px;
font-size: 12px;
font-size: 14px;
font-size: 14px;
font-size: 14px;
font-size: 14px;
font-size: 14px;
font-size: 16px;
font-size: 16px;
font-size: 16px;
font-size: 16px;
font-size: 16px;
font-size: 16px;
font-size: 16px;
font-size: 16px;
font-size: 17px;
font-size: 18px;
font-size: 18px;
font-size: 18px;
font-size: 18px;
font-size: 18px;
font-size: 18px;
font-size: 18px;
font-size: 18px;
font-size: 18px;
font-size: 20px;
font-size: 20px;
font-size: 20px;
font-size: 20px;
font-size: 20px;
font-size: 20px;
font-size: 20px;
font-size: 22px;
font-size: 24px;
font-size: 24px;
font-size: 24px;
font-size: 24px;
font-size: 25px;
font-size: 25px;
font-size: 28px;
font-size: 28px;
font-size: 34px;
font-size: 34px;
font-size: 36px;
font-size: 36px;
font-size: 52px;
font-size: 60px;
font-size: 80px;
font-weight: 600;
font-weight: 600;
font-weight: 600;
height: 0;
height: 0;
height: 100%;
height: 100%;
height: 100vh;
height: 100vh;
height: 116px;
height: 116px;
height: 131px;
height: 131px;
height: 135px;
height: 135px;
height: 165px;
height: 170px;
height: 180px;
height: 180px;
height: 200px;
height: 200px;
height: 230px;
height: 249px;
height: 24px;
height: 24px;
height: 24px;
height: 24px;
height: 290px;
height: 2px;
height: 2px;
height: 2px;
height: 2px;
height: 30px;
height: 30px;
height: 35px;
height: 35px;
height: 35px;
height: 400px;
height: 40px;
height: 40px;
height: 45px;
height: 45vh;
height: 46px;
height: 46px;
height: 500px;
height: 501px;
height: 50px;
height: 50px;
height: 50px;
height: 50px;
height: 50px;
height: 50px;
height: 524px;
height: 550px;
height: 550px;
height: 55px;
height: 56px;
height: 60vh;
height: 612px;
height: 65px;
height: 663px;
height: 70px;
height: 70px;
height: 80px;
height: 80px;
height: unset;
input {
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: center;
justify-content: flex-end;
justify-content: space-between;
justify-content: space-between;
justify-content: space-between;
justify-content: space-between;
justify-content: space-between;
justify-content: space-between;
justify-content: space-between;
left: 0;
left: 0;
left: 0;
left: 0;
left: 0;
left: 0;
left: 0;
left: 2px;
left: 50px;
left: 5px;
li {
line-height: 14px;
line-height: 15px;
line-height: 15px;
line-height: 15px;
line-height: 16px;
line-height: 177.02%;
line-height: 17px;
line-height: 17px;
line-height: 17px;
line-height: 18px;
line-height: 18px;
line-height: 18px;
line-height: 18px;
line-height: 19px;
line-height: 19px;
line-height: 19px;
line-height: 20px;
line-height: 20px;
line-height: 20px;
line-height: 20px;
line-height: 22px;
line-height: 22px;
line-height: 24px;
line-height: 24px;
line-height: 24px;
line-height: 24px;
line-height: 24px;
line-height: 26px;
line-height: 28px;
line-height: 29px;
line-height: 29px;
line-height: 29px;
line-height: 30px;
line-height: 32px;
line-height: 32px;
line-height: 32px;
line-height: 33px;
line-height: 33px;
line-height: 34px;
line-height: 44px;
line-height: 44px;
line-height: 50px;
line-height: 63px;
line-height: 65px;
line-height: 85px;
list-style-type: none;
margin-bottom: 100px;
margin-bottom: 10px;
margin-bottom: 10px;
margin-bottom: 10px;
margin-bottom: 10px;
margin-bottom: 10px;
margin-bottom: 12px;
margin-bottom: 12px;
margin-bottom: 12px;
margin-bottom: 14px;
margin-bottom: 15px;
margin-bottom: 15px;
margin-bottom: 20px;
margin-bottom: 20px;
margin-bottom: 20px;
margin-bottom: 21px;
margin-bottom: 24px;
margin-bottom: 24px;
margin-bottom: 27px;
margin-bottom: 30px;
margin-bottom: 30px;
margin-bottom: 30px;
margin-bottom: 34px;
margin-bottom: 35px;
margin-bottom: 37px;
margin-bottom: 40px;
margin-bottom: 40px;
margin-bottom: 52px;
margin-bottom: 56px;
margin-bottom: 56px;
margin-bottom: 68px;
margin-bottom: 80px;
margin-bottom: unset;
margin-bottom: unset;
margin-left: -10px;
margin-left: -10px;
margin-left: -15px;
margin-left: -160px;
margin-left: -20px;
margin-left: 138px;
margin-left: 15px;
margin-left: 17px;
margin-left: 20px;
margin-left: 40px;
margin-left: 40px;
margin-left: 40px;
margin-left: 40px;
margin-left: 40px;
margin-left: 40px;
margin-left: 60px;
margin-left: 70px;
margin-left: auto;
margin-left: unset;
margin-right: -10px;
margin-right: -10px;
margin-right: 11px;
margin-right: 11px;
margin-right: 16px;
margin-right: 16px;
margin-right: 16px;
margin-right: 20px;
margin-right: 30px;
margin-right: 30px;
margin-right: 30px;
margin-right: 40px;
margin-right: 41px;
margin-right: 42px;
margin-right: unset;
margin-right: unset;
margin-top: -60px;
margin-top: 0px;
margin-top: 105px;
margin-top: 14px;
margin-top: 150px;
margin-top: 20px;
margin-top: 20px;
margin-top: 25px;
margin-top: 30px;
margin-top: 30px;
margin-top: 30px;
margin-top: 30px;
margin-top: 40px;
margin-top: 40px;
margin-top: 50px;
margin-top: 84px;
margin-top: 90px;
margin-top: 90px;
margin-top: unset;
margin-top: unset;
margin: 0 auto;
margin: 0;
margin: 0;
margin: 0;
margin: 0px 10px;
margin: 0px 12px;
margin: 0px 15px;
margin: 0px 20px;
margin: 0px 20px;
margin: 0px 25px;
margin: 10px 0px;
margin: 10px 0px;
margin: 20px 0px;
margin: 20px 0px;
margin: 20px 0px;
margin: 20px 0px;
margin: 20px 10px;
margin: 25px 15px;
margin: auto;
margin: auto;
margin: auto;
margin: auto;
max-width: 100%;
max-width: 100%;
max-width: 100%;
max-width: 1110px;
max-width: 16.66667%;
max-width: 16.66667%;
max-width: 16.66667%;
max-width: 25%;
max-width: 25%;
max-width: 25%;
max-width: 33.33333%;
max-width: 33.33333%;
max-width: 33.33333%;
max-width: 41.66667%;
max-width: 41.66667%;
max-width: 41.66667%;
max-width: 50%;
max-width: 50%;
max-width: 50%;
max-width: 58.33333%;
max-width: 58.33333%;
max-width: 58.33333%;
max-width: 66.66667%;
max-width: 66.66667%;
max-width: 66.66667%;
max-width: 75%;
max-width: 75%;
max-width: 75%;
max-width: 8.33333%;
max-width: 8.33333%;
max-width: 8.33333%;
max-width: 83.33333%;
max-width: 83.33333%;
max-width: 83.33333%;
max-width: 91.66667%;
max-width: 91.66667%;
max-width: 91.66667%;
min-width: 24px;
min-width: 24px;
mix-blend-mode: normal;
mix-blend-mode: normal;
mix-blend-mode: normal;
mix-blend-mode: normal;
mix-blend-mode: normal;
mix-blend-mode: normal;
opacity: 0.4;
opacity: 0.5;
opacity: 0.5;
opacity: 0.7;
opacity: 0.7;
opacity: 0.7;
opacity: 0;
opacity: 0;
opacity: 0;
opacity: 1;
opacity: 1;
outline: none;
outline: none;
outline: none;
outline: unset;
overflow: auto;
overflow: auto;
overflow: auto;
overflow: hidden;
overflow: hidden;
overflow: hidden;
overflow: hidden;
overflow: hidden;
overflow: hidden;
overflow: hidden;
padding-bottom: 15px;
padding-bottom: 20px;
padding-bottom: 40px;
padding-bottom: 40px;
padding-bottom: 45px;
padding-left: 20px;
padding-left: 30px;
padding-left: 30px;
padding-left: 40px;
padding-top: 125px;
padding-top: 20px;
padding-top: 20px;
padding-top: 23px;
padding-top: 27px;
padding-top: 30px;
padding-top: 35px;
padding-top: 75px;
padding: 0 5px;
padding: 0 5px;
padding: 0;
padding: 0px 0px 24px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 10px;
padding: 0px 15px;
padding: 0px 20px 24px;
padding: 0px 20px;
padding: 0px 20px;
padding: 10px 10px;
padding: 10px 10px;
padding: 10px;
padding: 15px 27px;
padding: 15px 27px;
padding: 15px 27px;
padding: 15px;
padding: 20px;
padding: 20px;
padding: 20px;
padding: 21px 15px 0px;
padding: 22px;
padding: 30px 30px 20px;
padding: 4px 3px;
padding: 60px 20px 40px;
padding: 80px 20px 40px;
position: absolute;
position: absolute;
position: absolute;
position: absolute;
position: absolute;
position: absolute;
position: absolute;
position: absolute;
position: absolute;
position: absolute;
position: absolute;
position: absolute;
position: absolute;
position: absolute;
position: absolute;
position: fixed;
position: fixed;
position: fixed;
position: fixed;
position: fixed;
position: fixed;
position: relative;
position: relative;
position: relative;
position: relative;
position: relative;
position: relative;
position: relative;
position: relative;
position: relative;
position: relative;
right: -10px;
right: -12px;
right: -12px;
right: -40%;
right: -500px;
right: -77%;
right: 0;
right: 0;
right: 0;
right: 0;
right: 0;
right: 0;
right: 0;
right: 0;
right: 0;
right: 15px;
right: 15px;
right: 20px;
right: 20px;
right: 20px;
right: unset;
src: url("../fonts/Inter-Black.ttf");
src: url("../fonts/Inter-Bold.ttf");
src: url("../fonts/Inter-Medium.ttf");
src: url("../fonts/Inter-Regular.ttf");
src: url("../fonts/Inter-SemiBold.ttf");
text-align: center;
text-align: center;
text-align: center;
text-align: center;
text-align: center;
text-align: center;
text-align: center;
text-align: center;
text-align: center;
text-align: center;
text-align: center;
text-align: center;
text-align: center;
text-align: center;
text-align: center;
text-align: center;
text-align: center;
text-align: center;
text-decoration: none;
text-transform: uppercase;
text-transform: uppercase;
textarea {
top: -100%;
top: -10px;
top: -12px;
top: -12px;
top: -130px;
top: -28px;
top: -32%;
top: -8px;
top: -95px;
top: 0;
top: 0;
top: 0;
top: 0;
top: 0;
top: 15%;
top: 15px;
top: 20px;
top: 36px;
top: 75px;
top: 8px;
transform: rotate(45deg);
transform: rotate(45deg);
transform: rotate(90deg);
transform: rotate(90deg);
transform: scale(0.4);
transform: scale(0.6);
transform: scale(0.6);
transform: scale(0.7);
transform: scale(0.7);
transform: scale(0.7);
transform: scale(0.7);
transform: scale(0.7);
transform: scale(0.8);
transform: scale(1.2);
transform: scale(1.6);
transform: translateX(-4px);
transform: translateX(0);
transform: translateX(2px);
transform: translateX(6px);
transform: translateX(calc(50vw - 105px));
transform: translateY(calc(-50vh - 115px));
transition: 0.5s;
transition: 0.5s;
transition: 0.7s;
transition: 1s;
transition: 1s;
width: 100%;
width: 100%;
width: 100%;
width: 100%;
width: 100%;
width: 100%;
width: 100%;
width: 100%;
width: 100%;
width: 100%;
width: 100%;
width: 100%;
width: 100%;
width: 100%;
width: 100%;
width: 100px;
width: 100vh;
width: 115px;
width: 116px;
width: 116px;
width: 120px;
width: 120px;
width: 135px;
width: 135px;
width: 135px;
width: 150%;
width: 150px;
width: 15px;
width: 16.66667%;
width: 16.66667%;
width: 16.66667%;
width: 174px;
width: 180px;
width: 200px;
width: 200px;
width: 230px;
width: 230px;
width: 24px;
width: 24px;
width: 25%;
width: 25%;
width: 25%;
width: 250px;
width: 260px;
width: 280px;
width: 300px;
width: 30px;
width: 30px;
width: 320px;
width: 328px;
width: 33.33333%;
width: 33.33333%;
width: 33.33333%;
width: 350px;
width: 350px;
width: 35px;
width: 35px;
width: 382px;
width: 383px;
width: 400px;
width: 40vh;
width: 41.66667%;
width: 41.66667%;
width: 41.66667%;
width: 434px;
width: 50%;
width: 50%;
width: 50%;
width: 50px;
width: 50px;
width: 50px;
width: 530px;
width: 55px;
width: 58.33333%;
width: 58.33333%;
width: 58.33333%;
width: 600px;
width: 60px;
width: 66.66667%;
width: 66.66667%;
width: 66.66667%;
width: 691px;
width: 75%;
width: 75%;
width: 75%;
width: 750px;
width: 8.33333%;
width: 8.33333%;
width: 8.33333%;
width: 83.33333%;
width: 83.33333%;
width: 83.33333%;
width: 85px;
width: 85px;
width: 91.66667%;
width: 91.66667%;
width: 91.66667%;
z-index: -1;
z-index: -1;
z-index: 1;
z-index: 1;
z-index: 2;
z-index: 2;
z-index: 2;
z-index: 3;
z-index: 5;
z-index: 5;
z-index: 7;
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
